<a href="https://colab.research.google.com/github/angelaguzmanar/RRHH/blob/main/Preprocesamiento_RH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd ### para manejo de datos
import sqlite3 as sql
import sys

In [3]:
sys.path

['/content',
 '/env/python',
 '/usr/lib/python310.zip',
 '/usr/lib/python3.10',
 '/usr/lib/python3.10/lib-dynload',
 '',
 '/usr/local/lib/python3.10/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.10/dist-packages/IPython/extensions',
 '/root/.ipython']

In [9]:
#ANGELA
dfgeneral_data=pd.read_csv('https://raw.githubusercontent.com/angelaguzmanar/RRHH/main/general_data.csv', sep =';')
dfemployee_survey_data = pd.read_csv('https://raw.githubusercontent.com/angelaguzmanar/RRHH/main/employee_survey_data.csv')
dfmanager_survey_data = pd.read_csv('https://raw.githubusercontent.com/angelaguzmanar/RRHH/main/manager_survey_data.csv')
dfin_time = pd.read_csv('https://raw.githubusercontent.com/angelaguzmanar/RRHH/main/in_time.csv')
dfout_time = pd.read_csv('https://raw.githubusercontent.com/angelaguzmanar/RRHH/main/out_time.csv')
dfretirement_info = pd.read_csv('https://raw.githubusercontent.com/angelaguzmanar/RRHH/main/retirement_info.csv', sep =';')

## Preparaci√≥n bases de datos

In [10]:
#Primero analizaremos la cantidad de datos nulos que tienen las bases para proceder a tratarlos

In [11]:
dfgeneral_data.isnull().sum()

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [12]:
dfemployee_survey_data.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64

In [13]:
dfmanager_survey_data.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
dtype: int64

In [14]:
dfretirement_info.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

In [15]:
#Aca marcamos los datos nulos en  resignationReason  como NR
dfretirement_info['resignationReason'].fillna('NR', inplace=True)
print(dfretirement_info['resignationReason'].isnull().sum())
print(dfretirement_info['resignationReason'].unique())

0
['Others' 'Stress' 'Salary' 'NR']

In [20]:
#Procedemos a unir las tablas para que sean mas facil de trabajar
dftotal=dfgeneral_data.merge(dfemployee_survey_data, on="EmployeeID", how="left")
dftotal.shape

(4410, 26)

In [21]:
dftotal=dftotal.merge(dfmanager_survey_data, on="EmployeeID", how="left")
dftotal.shape

(4410, 28)

In [22]:
dfdata=dftotal.merge(dfretirement_info, on="EmployeeID", how="left")
dfdata.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Attrition,retirementDate,retirementType,resignationReason
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,0,3.0,4.0,2.0,3,3,NaN,NaN,NaN,NaN
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,4,3.0,2.0,4.0,2,4,Yes,15/10/2016,Resignation,Others
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,3,2.0,2.0,1.0,3,3,NaN,NaN,NaN,NaN
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,5,4.0,4.0,3.0,2,3,NaN,NaN,NaN,NaN
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,4,4.0,1.0,3.0,3,3,NaN,NaN,NaN,NaN

In [23]:
dfdata.shape

(4410, 32)

In [24]:
for columna in dfdata.columns[:]:
  print('\n {}'.format(columna))
  print(dfdata[columna].unique()) #Employeecount es una columna irrelevante, over18, standardhours

 Age
[51 31 32 38 46 28 29 25 45 36 55 47 37 21 35 26 50 53 42 44 49 18 41 39
 58 33 43 52 27 30 54 40 23 48 57 34 24 22 56 60 19 20 59]

 BusinessTravel
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

 Department
['Sales' 'Research & Development' 'Human Resources']

 DistanceFromHome
[ 6 10 17  2  8 11 18  1  7 28 14  3  4 16  9  5 20 29 15 13 24 19 22 25
 21 26 27 12 23]

 Education
[2 1 4 5 3]

 EducationField
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

 EmployeeCount
[1]

 EmployeeID
[   1    2    3 ... 4408 4409 4410]

 Gender
['Female' 'Male']

 JobLevel
[1 4 3 2 5]

 JobRole
['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Human Resources' 'Research Director' 'Laboratory Technician'
 'Manufacturing Director' 'Sales Representative' 'Manager']

 MaritalStatus
['Married' 'Single' 'Divorced']

 MonthlyIncome
[131160  41890 193280 ...  37020  23980  54680]

 NumCompaniesWorked
[ 1.  0.  3.  4.  2.  7.  9.  5.  6.  8. nan]

 Over18
['Y']

 PercentSalaryHike
[11 23 15 12 13 20 22 21 17 14 16 18 19 24 25]

 StandardHours
[8]

 StockOptionLevel
[0 1 3 2]

 TotalWorkingYears
[ 1.  6.  5. 13.  9. 28. 10. 21. 16. 37.  7.  3. 15.  8. nan 12. 17. 19.
 22.  2.  4. 23.  0. 11. 24. 25. 20. 14. 26. 18. 30. 36. 31. 33. 32. 34.
 40. 29. 35. 27. 38.]

 TrainingTimesLastYear
[6 3 2 5 4 0 1]

 YearsAtCompany
[ 1  5  8  6  7  0  9 20 15 36 10  3 17  2  4 11 22 18 13 24 21 16 25 29
 27 14 31 32 34 26 12 19 33 30 23 37 40]

 YearsSinceLastPromotion
[ 0  1  7  4 10  9  6 11  3  5  2  8 13 12 15 14]

 YearsWithCurrManager
[ 0  4  3  5  7  8 10 11 13  9  1  2  6 12 17 16 15 14]

 EnvironmentSatisfaction
[ 3.  2.  4.  1. nan]

 JobSatisfaction
[ 4.  2.  1.  3. nan]

 WorkLifeBalance
[ 2.  4.  1.  3. nan]

 JobInvolvement
[3 2 1 4]

 PerformanceRating
[3 4]

 Attrition
[nan 'Yes']

 retirementDate
[nan '15/10/2016' '20/07/2016' '08/11/2016' '08/02/2016' '18/06/2016'
 '29/04/2016' '15/12/2016' '18/01/2016' '23/08/2016' '17/02/2016'
 '23/02/2016' '07/04/2016' '08/10/2016' '12/08/2016' '14/10/2016'
 '26/07/2016' '02/05/2016' '29/07/2016' '10/01/2016' '29/02/2016'
 '25/03/2016' '30/06/2016' '16/11/2016' '13/02/2016' '05/07/2016'
 '22/02/2016' '03/01/2016' '05/03/2016' '04/09/2016' '25/01/2016'
 '01/06/2016' '22/06/2016' '28/10/2016' '23/06/2016' '30/05/2016'
 '14/07/2016' '17/08/2016' '28/01/2016' '19/01/2016' '06/04/2016'
 '06/03/2016' '08/12/2016' '01/09/2016' '11/09/2016' '09/06/2016'
 '30/09/2016' '17/01/2016' '26/08/2016' '13/03/2016' '19/06/2016'
 '18/05/2016' '09/03/2016' '24/08/2016' '11/06/2016' '19/02/2016'
 '22/04/2016' '11/08/2016' '02/09/2016' '01/04/2016' '26/05/2016'
 '21/07/2016' '26/11/2016' '02/06/2016' '26/06/2016' '25/05/2016'
 '12/12/2016' '22/10/2016' '06/11/2016' '10/09/2016' '01/05/2016'
 '14/11/2016' '13/12/2016' '21/09/2016' '27/11/2016' '18/10/2016'
 '10/05/2016' '10/02/2016' '01/07/2016' '26/02/2016' '03/11/2016'
 '02/12/2016' '08/01/2016' '04/01/2016' '18/04/2016' '24/01/2016'
 '31/07/2016' '27/05/2016' '27/04/2016' '19/09/2016' '29/01/2016'
 '16/09/2016' '12/03/2016' '21/04/2016' '20/05/2016' '18/02/2016'
 '23/07/2016' '18/03/2016' '25/06/2016' '10/08/2016' '26/03/2016'
 '21/03/2016' '31/01/2016' '11/10/2016' '05/05/2016' '04/08/2016'
 '27/10/2016' '31/08/2016' '13/11/2016' '01/10/2016' '29/03/2016'
 '22/01/2016' '06/12/2016' '24/02/2016' '13/07/2016' '22/07/2016'
 '28/07/2016' '24/03/2016' '08/04/2016' '20/06/2016' '16/03/2016'
 '25/11/2016' '23/05/2016' '02/07/2016' '18/09/2016' '14/01/2016'
 '04/04/2016' '01/02/2016' '05/09/2016' '27/07/2016' '08/09/2016'
 '07/03/2016' '24/07/2016' '17/11/2016' '15/02/2016' '06/06/2016'
 '31/03/2016' '14/05/2016' '17/05/2016' '15/01/2016' '19/07/2016'
 '25/07/2016' '07/05/2016' '22/08/2016' '09/09/2016' '03/03/2016'
 '28/03/2016' '06/01/2016' '28/05/2016' '03/09/2016' '08/06/2016'
 '25/08/2016' '16/02/2016' '04/05/2016' '05/10/2016' '21/05/2016'
 '05/01/2016' '14/12/2016' '23/03/2016' '18/11/2016' '17/03/2016'
 '11/01/2016' '22/05/2016' '03/05/2016' '30/01/2016' '07/02/2016'
 '04/12/2016' '20/10/2016' '20/03/2016' '09/05/2016' '25/09/2016'
 '15/05/2016' '28/08/2016' '10/07/2016' '09/04/2016' '28/11/2016'
 '02/03/2016' '31/10/2016' '15/07/2016' '03/10/2016' '04/02/2016'
 '12/02/2016' '26/09/2016' '19/08/2016' '07/01/2016' '11/07/2016'
 '09/12/2016' '02/04/2016' '29/05/2016' '07/11/2016' '16/10/2016'
 '03/07/2016' '01/03/2016' '14/06/2016' '13/06/2016' '25/10/2016'
 '11/11/2016' '27/08/2016' '15/11/2016' '19/05/2016' '10/11/2016'
 '16/04/2016' '11/02/2016' '22/11/2016' '03/12/2016' '13/10/2016'
 '30/03/2016' '15/04/2016' '24/04/2016' '07/12/2016' '12/11/2016'
 '18/08/2016' '16/06/2016' '16/05/2016' '09/10/2016' '28/06/2016'
 '27/06/2016' '13/01/2016' '24/10/2016' '13/04/2016' '16/08/2016'
 '24/06/2016' '23/09/2016' '03/06/2016' '06/08/2016' '20/09/2016'
 '01/12/2016' '08/07/2016' '28/04/2016' '11/05/2016' '29/09/2016'
 '03/04/2016' '15/09/2016' '24/05/2016' '07/10/2016' '27/09/2016'
 '11/03/2016' '27/01/2016' '09/11/2016' '04/06/2016' '20/11/2016'
 '13/05/2016' '23/11/2016' '12/09/2016' '02/02/2016' '16/07/2016'
 '23/01/2016' '21/10/2016' '08/05/2016' '29/11/2016' '19/03/2016'
 '17/06/2016' '12/04/2016' '20/02/2016' '02/11/2016' '13/08/2016'
 '30/11/2016' '30/10/2016' '17/04/2016' '25/04/2016' '05/08/2016'
 '04/03/2016' '02/01/2016' '08/08/2016' '10/10/2016' '05/11/2016'
 '06/09/2016' '29/08/2016' '15/03/2016' '26/01/2016' '09/02/2016'
 '22/03/2016' '07/06/2016' '20/08/2016' '16/01/2016' '06/07/2016'
 '30/08/2016' '04/07/2016' '05/02/2016' '19/10/2016' '21/06/2016'
 '30/07/2016' '21/11/2016' '14/04/2016' '11/12/2016' '16/12/2016'
 '06/02/2016' '05/12/2016' '17/07/2016' '10/12/2016' '11/04/2016'
 '28/02/2016' '13/09/2016' '19/04/2016' '14/02/2016' '17/10/2016'
 '04/10/2016' '12/05/2016' '01/11/2016' '29/06/2016' '21/01/2016'
 '14/08/2016' '21/08/2016' '17/09/2016' '19/11/2016' '28/09/2016'
 '07/08/2016' '07/09/2016' '02/10/2016']

 retirementType
[nan 'Resignation' 'Fired']

 resignationReason
[nan 'Others' 'Stress' 'Salary' 'NR']

In [25]:
# Porcentaje de nulos que presenta nuetra base de datos
round(dftotal.isnull().sum().sum()/dftotal.size, 4)*100

0.09

In [26]:
#Como observamos el porcentaje de nulos es 0.1% del total de datos, por lo que no son tan significativos, entonces aprovecharemos
#que se encuentran en varibales con respuestas numericas para imputarlos con el promedio,la moda y la media:
median_NumCompaniesWorked=round(dfdata['NumCompaniesWorked'].median())
print(median_NumCompaniesWorked)
dfdata['NumCompaniesWorked']=dfdata['NumCompaniesWorked'].fillna(median_NumCompaniesWorked)
print(dfdata['NumCompaniesWorked'].isnull().sum())
print(dfdata['NumCompaniesWorked'].unique())

2
0
[1. 0. 3. 4. 2. 7. 9. 5. 6. 8.]

In [27]:
mode_EnvironmentSatisfaction = dfdata['EnvironmentSatisfaction'].mode()
print(mode_EnvironmentSatisfaction)
dfdata['EnvironmentSatisfaction'].fillna(mode_EnvironmentSatisfaction[0], inplace=True)
print(dfdata['EnvironmentSatisfaction'].isnull().sum())
print(dfdata['EnvironmentSatisfaction'].unique())

0    3.0
Name: EnvironmentSatisfaction, dtype: float64
0
[3. 2. 4. 1.]

In [28]:
median_TotalWorkingYears=round(dfdata['TotalWorkingYears'].median())
print(median_TotalWorkingYears)
dfdata['TotalWorkingYears']=dfdata['TotalWorkingYears'].fillna(median_NumCompaniesWorked)
print(dfdata['TotalWorkingYears'].isnull().sum())
print(dfdata['TotalWorkingYears'].unique())

10
0
[ 1.  6.  5. 13.  9. 28. 10. 21. 16. 37.  7.  3. 15.  8.  2. 12. 17. 19.
 22.  4. 23.  0. 11. 24. 25. 20. 14. 26. 18. 30. 36. 31. 33. 32. 34. 40.
 29. 35. 27. 38.]

In [29]:
mode_WorkLifeBalance = dfdata['WorkLifeBalance'].mode()
print(mode_WorkLifeBalance)
dfdata['WorkLifeBalance'].fillna(mode_WorkLifeBalance[0], inplace=True)
print(dfdata['WorkLifeBalance'].isnull().sum())
print(dfdata['WorkLifeBalance'].unique())

0    3.0
Name: WorkLifeBalance, dtype: float64
0
[2. 4. 1. 3.]

In [30]:
mode_JobSatisfaction = dfdata['JobSatisfaction'].mode()
print(mode_JobSatisfaction)
dfdata['JobSatisfaction'].fillna(mode_JobSatisfaction[0], inplace=True)
print(dfdata['JobSatisfaction'].isnull().sum())
print(dfdata['JobSatisfaction'].unique())

0    4.0
Name: JobSatisfaction, dtype: float64
0
[4. 2. 1. 3.]

In [31]:
dfdata['Attrition'].fillna('No', inplace=True)
print(dfdata['Attrition'].isnull().sum())
print(dfdata['Attrition'].unique())

0
['No' 'Yes']

In [32]:
#Obervamos que los nulos si hayan sido imputados
dfdata.isnull().sum()

Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeCount                 0
EmployeeID                    0
Gender                        0
JobLevel                      0
JobRole                       0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked            0
Over18                        0
PercentSalaryHike             0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
EnvironmentSatisfaction       0
JobSatisfaction               0
WorkLifeBalance               0
JobInvolvement                0
PerformanceRating             0
Attrition                     0
retirementDate             3699
retirementType             3699
resignationReason          3699
dtype: int64

In [33]:
borrar=['EmployeeCount','Over18','StandardHours'] #Columnas no significativas
dfdata.drop(columns=borrar,inplace=True)

SQL

In [18]:
conn= sql.connect("db_empleados") ### crea una base de datos con el nombre dentro de comillas, si existe crea una conexi√≥n.

In [19]:
### Llevar tablas a base de datos
dfgeneral_data.to_sql("general_data",conn,if_exists="replace")
dfmanager_survey_data.to_sql("manager",conn,if_exists="replace")
dfemployee_survey_data.to_sql("employee",conn,if_exists="replace")
dfretirement_info.to_sql("retirement",conn,if_exists="replace")
dfin_time.to_sql("in_time",conn,if_exists="replace")
dfout_time.to_sql("out_time",conn,if_exists="replace")

4410